@model IEnumerable<BabunBank.Models.Customer.CustomerViewModel>

@{
    ViewBag.Title = "Account title";
    Layout = "_Layout";
}

<h1>Customer table</h1>
<div class="customer-container">
    <form class="customer-filter-form" method="get" action="@Url.Action("Index", "Cashier")">
        <input name="q" value="@ViewBag.Q" placeholder="Search here....">
        @Html.DropDownList("pageSize", new List<SelectListItem>
{
    new SelectListItem {Text="5", Value = "5", Selected = ViewBag.PageSize == 5},
    new SelectListItem {Text="10", Value = "10", Selected = ViewBag.PageSize == 10},
    new SelectListItem {Text="15", Value = "15", Selected = ViewBag.PageSize == 15},
    new SelectListItem {Text="20", Value = "20", Selected = ViewBag.PageSize == 20},
    new SelectListItem {Text="25", Value = "25", Selected = ViewBag.PageSize == 25},
}, new {@class = "dropdown-list"})
        <input class="btn-primary" type="submit" value="Apply filters"/>
    </form>
    <h2>Page: @ViewBag.CurrentPage</h2>
    
    <table class="data-table">
        <thead class="header">
        <tr>
            @foreach (var column in new[] { "Gender", "GivenName", "Surname", "Country" })
            {
                <th>
                    <span class="customer-table">
                        @column
                        <a asp-action="Index" asp-controller="Cashier"
                           asp-route-sortColumn="@column"
                           asp-route-sortOrder="asc"
                           asp-route-q="@ViewBag.Q"
                           style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_more</i>
                        </a>
                    
                        <a asp-action="Index" asp-controller="Cashier"
                           asp-route-sortColumn="@column"
                           asp-route-sortOrder="desc"
                           asp-route-q="@ViewBag.Q"
                           style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_less</i>
                        </a>
                    </span>
                </th>
            }
            <th>

            </th>
        </tr>
        </thead>
        <tbody class="body">

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Gender</td>
                <td>@customer.GivenName</td>
                <td>@customer.Surname</td>
                <td>@customer.Country</td>
                <td>
                    <a asp-controller="Cashier" asp-action="Details"
                       asp-route-id="@customer.CustomerId"
                       asp-route-country="@customer.Country"
                       asp-route-sortColumn="@ViewBag.SortColumn"
                       asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-q ="@ViewBag.Q">
                        <button class="btn-primary">View more <i class="material-symbols-outlined">arrow_forward</i></button>
                    </a></td>
                @* <a class="navbar-link" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a> *@
            </tr>
        }
        <tr>
            <td>
                <button class="btn-primary">
                    <a asp-action="Index"
                       asp-controller="Cashier"
                       asp-route-sortColumn="@ViewBag.SortColumn"
                       asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                       asp-route-q ="@ViewBag.Q"
                       asp-route-pageSize="@ViewBag.PageSize">Previous</a>
                </button>
            </td>
            
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn-primary">
                    <a asp-action="Index" 
                       asp-controller="Cashier" 
                       asp-route-sortColumn="@ViewBag.SortColumn"
                       asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-pageNumber="@(ViewBag.CurrentPage+1)"
                       asp-route-q="@ViewBag.Q"
                       asp-route-pageSize="@ViewBag.PageSize">Next</a>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
    <a asp-controller="Cashier" asp-action="Create">Create new customer</a>
</div>
