@using BabunBank.Controllers
@model IEnumerable<BabunBank.Models.ViewModels.Customer.CustomerViewModel>

@{
    ViewBag.Title = "Account title";
    Layout = "_Layout";
}

<h1>Customer table</h1>
<div class="customer-container">
    <form class="customer-filter-form" method="get" action="@Url.Action("Index", "Cashier")">
        <input name="q" value="@ViewBag.Q" placeholder="Search here....">
        @Html.DropDownList("pageSize", Enum.GetValues(typeof(CustomerDropdownMenu))
            .Cast<CustomerDropdownMenu>()
            .Select(x => new SelectListItem
            {   
                Text = $"{((int)x).ToString()} results per page",
                Value = ((int)x).ToString(),
                Selected = ViewBag.PageSize == (int)x
            }), new {@class = "dropdown-list"})
        <input class="create-customer-form-btn" type="submit" value="Apply filters"/>
        <input class="create-customer-form-btn" type="submit" value="Clear filters"/>
    </form>
    <h2 id="filter-page-result">Page: @ViewBag.CurrentPage (of @ViewBag.TotalPageCount)</h2>
    
    <table class="data-table">
        <thead class="header">
        <tr>
            <th>
                <span class="customer-table">
                        Id
                    <a asp-action="Index" asp-controller="Cashier"
                       asp-route-sortColumn="Id"
                       asp-route-sortOrder="asc"
                       asp-route-q="@ViewBag.Q"
                       style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_more</i>
                        </a>

                        <a asp-action="Index" asp-controller="Cashier"
                           asp-route-sortColumn="Id"
                           asp-route-sortOrder="desc"
                           asp-route-q="@ViewBag.Q"
                           style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_less</i>
                        </a>
                    </span>
            </th>
            @foreach (var column in new[] { "Gender", "GivenName", "Surname", "Country" })
            {
                <th>
                    <span class="customer-table">
                        @column
                        <a asp-action="Index" asp-controller="Cashier"
                           asp-route-sortColumn="@column"
                           asp-route-sortOrder="asc"
                           asp-route-q="@ViewBag.Q"
                           style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_more</i>
                        </a>

                        <a asp-action="Index" asp-controller="Cashier"
                           asp-route-sortColumn="@column"
                           asp-route-sortOrder="desc"
                           asp-route-q="@ViewBag.Q"
                           style="text-decoration:none">
                            <i class="material-symbols-outlined">expand_less</i>
                        </a>
                    </span>
                </th>
            }
            <th>

            </th>
        </tr>
        </thead>
        <tbody class="body">

        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.Gender</td>
                <td>@customer.GivenName</td>
                <td>@customer.Surname</td>
                <td>@customer.Country</td>
                <td>
                    <a asp-controller="Cashier" asp-action="Details"
                       asp-route-id="@customer.CustomerId"
                       asp-route-country="@customer.Country"
                       asp-route-sortColumn="@ViewBag.SortColumn"
                       asp-route-sortOrder="@ViewBag.SortOrder"
                       asp-route-q ="@ViewBag.Q">
                        <button class="create-customer-form-btn view-more">View more <i class="material-symbols-outlined">arrow_forward</i></button>
                    </a></td>
            </tr>
        }
        @if (@ViewBag.TotalPageCount > 1)
        {
            <tr>
                <td>
                    @if (@ViewBag.CurrentPage > 1)
                    {
                        <button class="create-customer-form-btn">
                            <a asp-action="Index"
                               asp-controller="Cashier"
                               asp-route-sortColumn="@ViewBag.SortColumn"
                               asp-route-sortOrder="@ViewBag.SortOrder"
                               asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                               asp-route-q="@ViewBag.Q"
                               asp-route-pageSize="@ViewBag.PageSize">Previous page</a>
                        </button>
                    }
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    @if (@ViewBag.CurrentPage < ViewBag.TotalPageCount)
                    {
                        <button class="create-customer-form-btn">
                            <a asp-action="Index"
                               asp-controller="Cashier"
                               asp-route-sortColumn="@ViewBag.SortColumn"
                               asp-route-sortOrder="@ViewBag.SortOrder"
                               asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                               asp-route-q="@ViewBag.Q"
                               asp-route-pageSize="@ViewBag.PageSize">Next page</a>
                        </button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <span>
        <a asp-controller="Cashier" asp-action="Create" class="create-customer-form-btn">Create new customer</a>
        <a asp-controller="Home" asp-action="Index" class="create-customer-form-btn">Return</a>
    </span>
</div>
