@model IEnumerable<BabunBank.Models.ViewModels.Admin.IdentityUserViewModel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <table class="data-table" style="margin: 72px 0">
        <thead class="header">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>User role</th>
            <th></th>
        </tr>
        </thead>   
        <tbody>
        @foreach (var systemUser in Model)
        {
            <tr class="admin-table-row">
                <td>@systemUser.Username</td>
                <td>@systemUser.Email</td>
                <td>@systemUser.RoleName</td>
                <td>
                    <span>
                        <a asp-controller="Admin" asp-action="Update" asp-route-id="@systemUser.UserId" class="create-customer-form-btn">Update</a>
                        <a asp-controller="Admin" asp-action="UpdatePassword" asp-route-id="@systemUser.UserId" asp-route-username="@systemUser.Username" class="create-customer-form-btn">Change Password</a>
                        @if (User?.Identity?.Name != systemUser.Username)
                        {
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@systemUser.UserId" class="btn-danger" style="border-radius: 0.25rem">Delete</a>
                        }
                        else
                        {
                            <p style="display:flex; align-items:center; text-align: center">You can not delete your own account</p>
                        }
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="button-row" style="margin-bottom: 72px">
        <div></div>
        <div></div>
        <a style="max-width: 250px" asp-controller="Admin" asp-action="Create" class="create-customer-form-btn">Create a new user</a>
        <a style="max-width: 250px" asp-controller="Home" asp-action="Index" class="create-customer-form-btn">Return</a>
    </div>
</div>

<script>
    $(document).ready(function () {

        toastr.options = {
            "positionClass" : "toast-bottom-center",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "hideEasing": "swing",
            "showEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "toastClass" : "custom-toast-class"
        };

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <text>
        toastr.success('@ViewBag.Message');
        </text>
        }
    });
</script>