@using Microsoft.AspNetCore.Identity
@model IEnumerable<BabunBank.Models.ViewModels.Admin.IdentityUserViewModel>
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <table class="data-table" style="margin-bottom: 72px">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>User role</th>
            <th></th>
        </tr>
        </thead>   
        <tbody>
        @foreach (var systemUser in Model)
        {
            <tr class="admin-table-row">
                <td>@systemUser.Username</td>
                <td>@systemUser.Email</td>
                <td>@systemUser.RoleName</td>
                <td>
                    <span>
                        <a asp-controller="Admin" asp-action="Update" asp-route-id="@systemUser.UserId" class="create-customer-form-btn">Update</a>
                        @if (User?.Identity?.Name != systemUser.Username)
                        {
                            <a asp-controller="Admin" asp-action="Delete" asp-route-id="@systemUser.UserId" class="btn-danger" style="border-radius: 0.25rem">Delete</a>
                        }
                        else
                        {
                            <p style="display:flex; align-items:center; text-align: center">You can not delete your own account</p>
                        }
                    </span>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="button-row" style="margin-bottom: 72px">
        <a asp-controller="Home" asp-action="Index" class="create-customer-form-btn">Go back</a>
        <a asp-controller="Admin" asp-action="Create" class="create-customer-form-btn">Create a new user</a>
    </div>
</div>