@model BabunBank.Models.LandingPage.LandingPageViewModel
@{
    ViewData["Title"] = "Home Page";
}
@* Banking image *@
<div id="landing-page-bg">
    <img src="~/images/pexels-photo-right-aligned.webp" alt="background">
    <div class="banner">
        <div>
            <h1>Your Goals, Our Expertise</h1>
            <button class="btn-banner">Contact us 
                <i class="material-symbols-outlined">arrow_forward</i></button>
        </div>
    </div>
</div>

@* Brands here *@
<div class="brand-section">
    <img src="~/images/Logo.svg" alt="TODO">
    <img src="~/images/Logo.svg" alt="TODO">
    <img src="~/images/Logo.svg" alt="TODO">
    <img src="~/images/Logo.svg" alt="TODO">
</div>

@* Landing page info *@

<div id="country-page-bg">
    <div id="landing-page-body">
        <div id="header">
            <h2>Providing quality services since 2013</h2>
            @* <a href="#">TODO <i class="material-symbols-outlined"> *@
            @*     arrow_right_alt *@
            @* </i></a> *@
        </div>
        <div class="landing-page-info">
            <div class="landing-page-summary">
                <div>
                    <img class="landing-page-icon" src="~/images/landing-page-icon.svg" alt="TODO">
                    <h3>
                        @Model.NumberOfAccounts accounts
                    </h3> 
                    <p>From the nordic countries</p>
                </div>
                <div class="landing-page-arrow">
                    <img src="~/images/landing-page-arrow.svg" alt="TODO">
                </div>
            </div>
            
            <div class="landing-page-summary">
                <div>
                    <img class="landing-page-icon" src="~/images/landing-page-icon.svg" alt="TODO">
                    <h3>
                        @Model.NumberOfCustomers customers
                    </h3>
                    <p>We have more than 5000 satisfied customers in the nordic countries</p>
                </div>
                <div class="landing-page-arrow">
                    <img src="~/images/landing-page-arrow.svg" alt="TODO">
                </div>
            </div>
            
            <div class="landing-page-summary last">
                <div>
                    <img class="landing-page-icon" src="~/images/landing-page-icon.svg" alt="TODO">
                    <h3>
                        @(Model.TotalAccountBalance.ToString("C2"))
                    </h3>
                    <p>From the nordic countries</p>
                </div>
            </div>
        </div>
    </div>

    <div id="card-section">
            <div class="country-card">
                <img class="country-flag" src="~/images/flag-of-finland.svg" alt="logo">
                <h3>Country data</h3>
                <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
                <button>See more <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            
            <div class="country-card">
                <img class="country-flag" src="~/images/flag-of-sweden.svg" alt="logo">
                <h3>Country data</h3>
                <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
                <button>See more <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            
            <div class="country-card">
                <img class="country-flag" src="~/images/flag-of-norway.svg" alt="logo">
                <h3>Country data</h3>
                <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
                <button>See more <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            
            <div class="country-card">
                <img class="country-flag" src="~/images/flag-of-denmark.svg" alt="logo">
                <h3>Country data</h3>
                <p>Stay updated, check your bank account to manage funds and track transactions securely.</p>
                <button>See more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
            </div>
    
</div>


@* <div class="container projects"> *@
@*     <div> *@
@*         <div id="left"> *@
@*             <h2>3. A quick data summary</h2> *@
@*             <h3>Approach</h3> *@
@*             <p>Consultants specializing in strategy support organizations in achieving competitive excellence *@
@*                 through *@
@*                 deliberate.</p> *@
@*             <h3>FINAL RESULTS</h3> *@
@*             <div> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Number of accounts: @Model.NumberOfAccounts</p> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Number of customers: @Model.NumberOfCustomers</p> *@
@*                 <p class="left-white"><img src="~/images/Checkmark.png" alt="checkmark">Total account sum: @(Model.TotalAccountBalance.ToString("C2"))</p> *@
@*             </div> *@
@*             <p>Full Case Study <button><img src="~/images/login-arrow.svg" alt="right arrow"></button></p> *@
@*         </div> *@
@*         <div id="right"> *@
@*             <img src="~/images/nordic-countries.jpg" alt="nordic countries"> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

<div class="container">
    <div class="navbar-footer">
        <p>&copy; @DateTime.Now.Year babun inc. <img src="~/images/Logo.svg" alt="TODO"></p>
        <nav>
            <a href="#">Privacy & Terms</a>
            <a href="#">Cookies</a>
            <a href="#">Contact Us</a>
        </nav>
        <div>
            <img src="~/images/instagram.svg" alt="logo"/>
            <img src="~/images/instagram.svg" alt="logo"/>
            <img src="~/images/instagram.svg" alt="logo"/>
            <img src="~/images/instagram.svg" alt="logo"/>
        </div>
    </div>
</div>