@using Microsoft.AspNetCore.Identity
@using System.Security.Cryptography
@model BabunBank.Models.Customer.CustomerViewModel
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Title = "Customer Details";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container customer">
        <div class="customer-card-container">
            <div class="customer-card-left">
                <p>Customer name: @Model.GivenName @Model.Surname</p>
            
                @foreach (var account in @Model.CustomerAccounts)
                {
                    <p>Account Id: @account.AccountId</p>
                    <a asp-controller="Account" asp-action="Details" asp-route-id="@account.AccountId">View account details</a>
                }
                <a asp-controller="Customer" asp-action="Index">Go back</a>
            </div>
            <div class="customer-card-right">
                @if (@Model.Gender == "male")
                {
                <img src="https://avatar.iran.liara.run/public/boy" alt="TODO">
                }
                else
                {
                    <img src="https://avatar.iran.liara.run/public/girl" alt="TODO">
                }
                <h2>Account for @Model.GivenName @Model.Surname</h2>
            </div>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Customer" asp-route-sortColumn="@ViewBag.SortColumn" asp-route-sortOrder="@ViewBag.SortOrder">Go Back</a>
}
else
{
    <h2>You are not signed in</h2>
}