@model IEnumerable<BabunBank.Models.Customer.CustomerViewModel>

@{
    ViewBag.Title = "Account title";
    Layout = "_Layout";
}

<h2>title</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Gender</th>
        <th>GivenName</th>
        <th>Surname</th>
        <th>Street address</th>
        <th>City</th>
        <th>ZIP code</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Gender</td>
            <td>@customer.GivenName</td>
            <td>@customer.Surname</td>
            <td>@customer.Streetaddress</td>
            <td>@customer.City</td>
            <td>@customer.Zipcode</td>
            <td>@customer.Country</td>
        </tr>
    }
    </tbody>

</table>