@model BabunBank.Models.Account.AccountViewModel

@{
    ViewBag.Title = "Account Details";
    Layout = "_Layout";
}

<h1>All transactions for the account with id @Model.AccountId</h1>
@foreach (var transaction in @Model.Transactions)
{
    <p>Id: @transaction.TransactionId</p>
    <p>Amount: @transaction.Amount</p>
    <p>Balance: @transaction.Balance</p>
    <p>Date: @transaction.Date</p>
}

<p><a asp-controller="Customer" asp-action="Index">Go back</a></p>


