@model BabunBank.Models.Account.AccountViewModel

@{
    ViewBag.Title = "Account Details";
    Layout = "_Layout";
}

<div class="account-details container">
<h1>All transactions for the account with id @Model.AccountId</h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in @Model.Transactions)
        {
            <tr>
                <th>Transaction Id: @transaction.TransactionId</th>
                <th>Amount: @(transaction.Amount.ToString("C2"))</th>
                <th>Balance: @(transaction.Balance.ToString("C2"))</th>
                <th>Date: @transaction.Date</th>
                <th>
                    <button class="btn-primary">Create</button>
                    <button class="btn-primary">Read</button>
                    <button class="btn-primary">Update</button>
                    <button class="btn-primary">Delete</button>
                </th>
            </tr>
        }
        </tbody>
        
        
</table>
    <button class="btn-primary">
        <p><a asp-controller="Cashier" asp-action="Index">Go back</a></p>
    </button>
</div>
