@model IEnumerable<BabunBank.Models.ViewModels.ApiBlog.BlogPost>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div style="margin-bottom: 72px" id="blogposts-bg">
    <div class="container blogpost">
        <div class="blogpost-container">
            @foreach (var blogpost in Model)
            {
                <partial name="_BlogpostPartial" model="blogpost"/>
            }
        </div>
        
        <div class="blogpost-pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <a asp-controller="News"
                   asp-route-pageNumber="1"
                   asp-route-pageSize="@ViewBag.PageSize">
                    First
                </a>
                <a asp-controller="News"
                   asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                   asp-route-pageSize="@ViewBag.PageSize" class="create-customer-form-btn">
                    Prev
                </a>
                
                <a class="pagination-inactive-button" asp-controller="News"
                   asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
                   asp-route-pageSize="@ViewBag.PageSize">
                    @(ViewBag.CurrentPage - 1)
                </a>
            }
            else
            {
                <a></a>
            }
            <a class="pagination-active-button"
               asp-route-pageNumber="@ViewBag.CurrentPage"
               asp-route-pageSize="@ViewBag.PageSize">
                @ViewBag.CurrentPage
            </a>
            @if (ViewBag.CurrentPage < ViewBag.TotalPageCount)
            {
                <a class="pagination-inactive-button" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                   asp-route-pageSize="@ViewBag.PageSize">
                    @(ViewBag.CurrentPage + 1)
                </a>
            }
            else
            {
                <a></a>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPageCount)
            {
                <a asp-controller="News"
                   asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
                   asp-route-pageSize="@ViewBag.PageSize"
                   class="create-customer-form-btn">
                    Next
                </a>
                <a asp-controller="News"
                   asp-route-pageNumber="@ViewBag.TotalPageCount"
                   asp-route-pageSize="@ViewBag.PageSize">
                    Last
                </a>
            }
        </div>
    </div>
</div>